@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    min-height: 100vh;
    background-color: #F4EEEE;
}

.react-datepicker-wrapper {
    margin-left: 10px !important;
}
